@page
@model LabMaterials.Pages.AddStoreModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }

        document.getElementById("ManagerId").addEventListener("change", function () {
            const selectedOption = this.options[this.selectedIndex];
            const jobNumber = selectedOption.getAttribute("data-jobnumber");

            document.getElementById("ManagerJobNumber").value = jobNumber || '';
        });
    </script>
}
@{
    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-2 mb-0">
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageStore" class="text-decoration-none">@Model.lblStores</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center active" aria-current="page">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            @Model.lblAddStore
                        </li>
                    </ol>
                </nav>
                 <h1 class="h4">@Model.lblAddStore</h1>
               <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            @* Warehouse type  *@
                            <div class="mb-4">
                                    <label class="my-1 me-2" for="StoreType">@Model.lblWarehouseType</label>
                                    <select class="form-select" id="StoreType" name="StoreType"
                                        aria-label="Default select example" value="@Model.StoreType">

                                    @if (Model.WarehouseType != null)

                                    {

                                        foreach (var warehousetype in Model.WarehouseType)

                                        {
                                            <option value="@warehousetype.StoreType">@warehousetype.StoreType</option>
                                        }
                                    }
                                    </select>
                            </div>

                            @* Warehouse Name  *@
                            <div class="mb-4">
                                <label for="storeName">@Model.lblStoreName</label>
                                <input type="text" name="StoreName" value="@Model.StoreName" class="form-control"
                                    id="storeName">    
                            </div>


                            <div class="mb-4">
                                <label for="storeNumber">@Model.lblStoreNumber</label>
                                <input type="text" name="StoreNumber" class="form-control" id="storeNumber"
                                    value="@Model.StoreNumber" />

                                
                            </div>
                           
                            @* Warehouse manager name  *@
                            <div class="mb-4">
                                    <label class="my-1 me-2" for="ManagerId">@Model.lblWarehouseManagerName</label>
                                    <select class="form-select" id="ManagerId" name="ManagerId"
                                        aria-label="Default select example">
                                        <option value=""></option>
                                        
                                        
                                    @if (Model.ManagerGroupsList != null)
                                    {
                                        foreach (var item in Model.ManagerGroupsList)
                                        {
                                            <option value="@item.UserId" data-jobnumber="@item.JobNumber" selected="@(item.UserId == Model.ManagerId)">@item.FullName</option>
                                        }
                                    }

                                    </select>
                            </div>

                            @* Warehouse manager Job Number  *@
                            <div class="mb-4">
                                <label for="ManagerJobNumber">@Model.lblManagerJobNumber</label>
                                <input type="text" name="ManagerJobNumber" class="form-control" id="ManagerJobNumber"
                                    value="@Model.ManagerJobNumber" readonly /> 
                            </div>

                            


                            @* Warehouse status *@
                            <div class="mb-4">
                                <p>@Model.lblStatus</p>

                                <div class="form-check">
                                    <input id="Open" class="form-check-input" type="radio" name="Status" value="Open" 
                                       />
                                    <label class="form-check-label" for="Open">
                                        @Model.lblOpen
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input id="Closed" class="form-check-input" type="radio" name="Status" value="Closed"
                                        />
                                    <label class="form-check-label" for="Closed">
                                        @Model.lblClosed
                                    </label>
                                </div>
                            </div> 
                           





                            <div class="mb-4">


                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">

                                    <a href="ManageStore"
                                        class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="@Model.lblAdd"
                                        class="btn btn-sm btn-gray-800 align-items-center w-100"
                                        style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    @* <div style="text-align:center; color:maroon">@Model.ErrorMsg</div> *@


}
