@page
@model LabMaterials.Pages.AddUserModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        if (document.getElementById("IsADUser").checked == true) {
            document.getElementById("Password").disabled = true;
            document.getElementById("PasswordRow").style = 'display:none;';
        }
        else {
            document.getElementById("Password").disabled = false;
            document.getElementById("PasswordRow").style = 'display:block;';
        }
        $("#IsADUser").change(function () {

            if (document.getElementById("IsADUser").checked == true) {
                document.getElementById("Password").disabled = true;
                document.getElementById("PasswordRow").style = 'display:none;';
            }
            else {
                document.getElementById("Password").disabled = false;
                document.getElementById("PasswordRow").style = 'display:block;';
            }

        });

        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }
    </script>
}
@{

    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">@Model.lblAddUser</h1>
               <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-4">
                                <label for="Username">@Model.lblUserName</label>

                                <input type="text" class="form-control" id="Username" name="Username"
                                    value="@Model.Username" />

                            </div>
                            <div class="mb-4">
                                <label for="UserFullName">@Model.lblFullName</label>

                                <input type="text" class="form-control" id="UserFullName" name="UserFullName"
                                    value="@Model.UserFullName" />

                            </div>
                            <div class="mb-4">
                                <label for="Email">@Model.lblEmail</label>

                                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" />

                            </div>


                            <div class="mb-4">
                                <label class="my-1 me-2" for="UserGroupID">@Model.lblUserGroupName</label>
                                <select class="form-select" id="UserGroupID" name="UserGroupID"
                                    aria-label="Default select example">

                                    @if (Model.UserGroupsList != null)
                                    {
                                        foreach (var item in Model.UserGroupsList)
                                        {
                                            <option value="@item.UserGroupId">@item.UserGroupName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="IsADUser">
                                        @Model.lblIsDomainUser
                                    </label>
                                    <input id="IsADUser" class="form-check-input" type="checkbox" name="IsADUser"
                                        asp-for="IsADUser">

                                </div>
                            </div>


                            <div class="mb-4" id="PasswordRow">
                                <label for="Password">@Model.lblPassword</label>
                                <input type="password" name="Password" value="@Model.Password" class="form-control"
                                    id="Password">

                            </div>

                            <div class="mb-4">


                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">
                                    <a href="ManageUsers"
                                        class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="@Model.lblAdd"
                                        class="btn btn-sm btn-gray-800 align-items-center w-100"
                                        style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>



    @* <div style="text-align:center; color:maroon">@Model.ErrorMsg</div> *@

}
