@page
@model LabMaterials.Pages.ChangePasswordModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'right',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: false
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }
    </script>
}
@{


    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-2 mb-0">
                    <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/password.png" alt="Home" width="16" height="16" class="me-2" />
                        @Model.lblChangePasswords
                    </li>
                </ol>
            </nav>
                <h1 class="h4">@Model.lblChangePasswords</h1>
               <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                     <input type="hidden" name="ToUpdateUserID" value="@Model.ToUpdateUserID" />
        <input type="hidden" name="Username" value="@Model.Username" />
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-4">
                                <label for="Password">@Model.lblCurrentPassword</label>
                                
                                    <input type="password" class="form-control"  id="Password" name="Password" value="@Model.Password" />

                              
                            </div>
                            <div class="mb-4">
                                <label for="NewPassword">@Model.lblNewPassword</label>
                               
                    <input type="password" class="form-control"  id="NewPassword" name="NewPassword"
                        value="@Model.NewPassword" />
               
                            </div>
                            <div class="mb-4">
                
                                <label for="NewPasswordConfirm">@Model.lblConfirmNewPassword</label>
                                 <input type="password" class="form-control"  id="NewPasswordConfirm" name="NewPasswordConfirm"
                        value="@Model.NewPasswordConfirm" />
                               
                                
                            </div>
                            <div class="mb-4">


                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">


                                    <a href="Home"
                                        class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="@Model.lblUpdate"
                                        class="btn btn-sm btn-gray-800 align-items-center w-100"
                                        style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>



        @* <div style="text-align:center; color:maroon">@Model.ErrorMsg</div> *@
       
    
}
