@page
@model LabMaterials.Pages.EditRequestorModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                                                        var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
            showErrorNotification(errorMessageFromServer);
            </text>
        }
    </script>
}
@{
    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-2 mb-0">
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageStore" class="text-decoration-none">@Model.lblStores</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageDestinations" class="text-decoration-none">@Model.lblDestinations</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center active" aria-current="page">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageRequestor?page=@Model.page" class="text-decoration-none">@Model.lblManageRequestor</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center active" aria-current="page">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                             @Model.lblUpdateRequestor
                        </li>
                    </ol>
                </nav>
                <h1 class="h4">@Model.lblUpdateRequestor</h1>
                <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                    <input type="hidden" name="ReqId" id="ReqId" value="@ViewData["ReqId"]" />
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            <div class="mb-4">
                                <label for="DestinationName">@Model.lblDestinationName</label>

                                <select class="form-select" id="DId" name="DId">
                                    @if (Model.Destinations != null)
                                    {
                                        foreach (var item in Model.Destinations)
                                        {
                                            if (item.Ended == null)
                                            {
                                                <option value="@item.DId" selected="@(item.DId == Model.DId)">@item.DestinationName</option>
                                            }
                                        }
                                    }
                                </select>

                            </div>

                             <div class="mb-4">
                                <label for="RequestorName">@Model.lblRequestorName</label>

                                <input type="text" class="form-control" id="RequestorName" name="RequestorName"
                                       value="@Model.RequestorName" />

                             </div>
                                   

                            <div class="mb-4">
                                <label for="Contact">@Model.lblContactNumber</label>

                                <input type="text" class="form-control" id="ContactNumber" name="ContactNumber"
                                       value="@Model.ContactNo" />

                            </div>


                            

                            <div class="mb-4">


                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">
                                    <a href="ManageRequestor"
                                       class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="@Model.lblUpdate"
                                           class="btn btn-sm btn-gray-800 align-items-center w-100"
                                           style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

}