@page
@model LabMaterials.Pages.EditUserModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        if (document.getElementById("IsADUser").checked == true) {
            document.getElementById("Password").disabled = true;
            document.getElementById("PasswordRow").style = 'display:none;';
            document.getElementById("ReTypePassword").disabled = true;
            document.getElementById("ReTypePasswordRow").style = 'display:none;';
            document.getElementById("ChangePasswordRow").style = 'display:none;';
        }
        else {
            document.getElementById("Password").disabled = true;
            document.getElementById("PasswordRow").style = 'display:block;';
            document.getElementById("ReTypePassword").disabled = true;
            document.getElementById("ReTypePasswordRow").style = 'display:block;';
            document.getElementById("ChangePasswordRow").style = 'display:block;';
        }

        $("#IsADUser").change(function () {

            if (document.getElementById("IsADUser").checked == true) {
                document.getElementById("Password").disabled = true;
                document.getElementById("PasswordRow").style = 'display:none;';
                document.getElementById("ReTypePassword").disabled = true;
                document.getElementById("ReTypePasswordRow").style = 'display:none;';
                document.getElementById("ChangePasswordRow").style = 'display:none;';
            }
            else {
                document.getElementById("Password").disabled = true;
                document.getElementById("PasswordRow").style = 'display:block;';
                document.getElementById("ReTypePassword").disabled = true;
                document.getElementById("ReTypePasswordRow").style = 'display:block;';
                document.getElementById("ChangePasswordRow").style = 'display:block;';
            }

        });
        $("#ChangePassword").change(function () {

            if (document.getElementById("ChangePassword").checked == true) {
                document.getElementById("Password").disabled = false;
                document.getElementById("ReTypePassword").disabled = false;

            }
            else {
                document.getElementById("Password").disabled = true;
                document.getElementById("ReTypePassword").disabled = true;
            }

        });

        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }
    </script>
}
@{

    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-2 mb-0">
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageUsers?page=@Model.page&UserName=@Model.UserNameSearch" class="text-decoration-none">@Model.lblUsers</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                            @Model.lblUpdateUser
                        </li>
                    </ol>
                </nav>
                <h1 class="h4">@Model.lblUpdateUser</h1>
               <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            <input type="hidden" name="ToUpdateUserID" value="@Model.ToUpdateUserID" />

                            @* User type  *@
                            <div class="mb-4">
                                <label class="my-1 me-2" for="UserGroupID">@Model.lblUserGroupName</label>
                                <select class="form-select" id="UserGroupID" name="UserGroupID">
                                @{
                                    foreach (var item in Model.UserGroupsList)
                                    {
                                        var selectedAttr = item.UserGroupId == Model.UserGroupID ? "selected=\"selected\"" : "";
                                        @:<option value="@item.UserGroupId" @Html.Raw(selectedAttr)>@item.UserGroupName</option>
                                    }
                                }
                                </select>
                            </div>

                            @* isdomain user  *@
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="IsADUser">
                                        @Model.lblIsDomainUser
                                    </label>
                                    <input id="IsADUser" class="form-check-input" type="checkbox" name="IsADUser"
                                        asp-for="IsADUser">

                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="JobNumber">@Model.lblJobNumber</label>

                                <input type="text" class="form-control" id="JobNumber" name="JobNumber"
                                    value="@Model.JobNumber" />

                            </div>
                            <div class="mb-4">
                                <label for="Username">@Model.lblUserName</label>

                                <input type="text" class="form-control" id="Username" name="Username"
                                    value="@Model.Username" />

                            </div>
                            <div class="mb-4">
                                <label for="UserFullName">@Model.lblFullName</label>

                                <input type="text" class="form-control" id="UserFullName" name="UserFullName"
                                    value="@Model.UserFullName" />

                            </div>

                            @* Employee's Affiliation  *@
                            <div class="mb-4">
                                <label for="EmpAffiliation">@Model.lblEmpAffiliation</label>

                                <input type="text" class="form-control" id="EmpAffiliation" name="EmpAffiliation"
                                    value="@Model.EmpAffiliation" />

                            </div>

                            @* Transfer  *@
                            <div class="mb-4">
                                <label for="Transfer">@Model.lblTransfer</label>

                                <input type="text" class="form-control" id="Transfer" name="Transfer"
                                    value="@Model.Transfer" />

                            </div>

                            <div class="mb-4">
                                <label for="Email">@Model.lblEmail</label>

                                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" />

                            </div>


                         
                        

                            <div class="mb-4" id="ChangePasswordRow">
                                <label for="ChangePassword">@Model.lblChangePassword</label>
                                <input id="ChangePassword" class="form-check-input" type="checkbox" name="ChangePassword"
                                       asp-for="ChangePassword">

                            </div>
                            <div class="mb-4" id="PasswordRow">
                                <label for="Password">@Model.lblPassword</label>
                                <input type="password" name="Password" value="@Model.Password" class="form-control"
                                    id="Password">

                            </div>
                            @* re type password  *@
                            <div class="mb-4" id="ReTypePasswordRow">
                                <label for="ReTypePassword">@Model.lblReTypePassword</label>
                                <input type="password" name="ReTypePassword" value="@Model.ReTypePassword" class="form-control"
                                    id="ReTypePassword">

                            </div>

                            <div class="mb-4">


                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">
                                    <a href="ManageUsers"
                                        class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="@Model.lblUpdate"
                                        class="btn btn-sm btn-gray-800 align-items-center w-100"
                                        style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

}
