@page
@model LabMaterials.Pages.EditRoomModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                                var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
            showErrorNotification(errorMessageFromServer);
            </text>
        }

         document.getElementById("StoreId").addEventListener("change", function () {
            const selectedOption = this.options[this.selectedIndex];
            const storetype = selectedOption.getAttribute("data-storetype");
            const manager = selectedOption.getAttribute("data-manager");


            document.getElementById("StoreType").value = storetype || '';
            document.getElementById("ManagerName").value = manager || '';

        });
        
        document.getElementById("KeeperId").addEventListener("change", function () {
            const selectedOption = this.options[this.selectedIndex];
            const UserName = selectedOption.getAttribute("data-UserName");


            document.getElementById("KeeperName").value = UserName || '';

        });
    </script>
}
@{
    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-2 mb-0">
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageStore" class="text-decoration-none">@Model.lblStores</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageRooms?page=@Model.page&RoomName=@Model.RoomNameSearch" class="text-decoration-none">@Model.lblManageRooms</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center active" aria-current="page">
                            <img src="images/retailer.png" alt="Home" width="16" height="16" class="me-2" />
                             @Model.lblUpdateRoom
                        </li>
                        
                    </ol>
                </nav>
                <h1 class="h4">@Model.lblUpdateRoom</h1>
                <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            <input type="hidden" name="RoomId" value="@Model.RoomId" />
                            <div class="mb-4">
                                <label for="StoreId">@Model.lblStoreName</label>
                                <select class="form-select" id="StoreId" name="StoreId">
                                    <option value=""></option>
                                    @if (Model.Stores != null)
                                    {
                                        foreach (var item in Model.Stores)
                                        {
                                            if(item.IsActive == 1 ){
                                            <option value="@item.StoreId" data-storetype="@item.StoreType" data-manager="@item.WarehouseManagerName" selected="@(item.StoreId == Model.StoreId)">@item.StoreName</option>}
                                        }
                                    }
                                </select>
                                
                            </div>

                            <div class="mb-4">
                                <label for="StoreType">@Model.lblWarehouseType</label>
                                <input type="text" name="StoreType" class="form-control" id="StoreType"
                                       value="@Model.StoreType" />
                            </div>

                            <div class="mb-4">
                                <label for="ManagerName">@Model.lblManagerName</label>
                                <input type="text" name="ManagerName" class="form-control" id="ManagerName"
                                       value="@Model.ManagerName" />
                            </div>

                            <div class="mb-4">
                                <label for="BuildingNumber">@Model.lblBuildingNumber</label>
                                <input type="text" name="BuildingNumber" class="form-control" id="BuildingNumber"
                                       value="@Model.BuildingNumber" />
                            </div>

                            <div class="mb-4">
                                <label for="roomNumber">@Model.lblRoomNumber</label>
                                <input type="text" name="RoomNumber" class="form-control" id="roomNumber"
                                       value="@Model.RoomNumber" />

                                <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                      else.</small> -->
                            </div>

                            <div class="mb-4">
                                <label for="roomName">@Model.lblRoomName</label>
                                <input type="text" name="RoomName" value="@Model.RoomName" class="form-control"
                                       id="roomName">
                                <!--   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                       else.</small> -->
                            </div>

                            <div class="mb-4">
                                <label for="RoomDesc">@Model.lblRoomDesc</label>
                                <input type="text" name="RoomDesc" class="form-control" id="RoomDesc"
                                       value="@Model.RoomDesc" />
                            </div>
                         
                            <div class="mb-4">
                                <label for="NoOfShelves">@Model.lblNoOfShelves</label>
                                <input type="number" name="NoOfShelves" class="form-control" id="NoOfShelves"
                                       value="@Model.NoOfShelves" />
                            </div>

                             @* Warehouse Keeper JobNumber  *@
                            <div class="mb-4">
                                    <label class="my-1 me-2" for="KeeperId">@Model.lblKeeperJobNum</label>
                                    <select class="form-select" id="KeeperId" name="KeeperId"
                                        aria-label="Default select example">
                                        <option value=""></option>
                                        
                                        
                                    @if (Model.KeeperGroupsList != null)
                                    {
                                        foreach (var item in Model.KeeperGroupsList)
                                        {
                                            <option value="@item.UserId" data-UserName="@item.UserName" selected="@(item.UserId == Model.KeeperId)">@item.JobNumber</option>
                                        }
                                    }

                                    </select>
                            </div>

                            <div class="mb-4">
                                <label for="KeeperName">@Model.lblKeeperName</label>
                                <input type="text" name="KeeperName" class="form-control" id="KeeperName"
                                       value="@Model.KeeperName" readonly />
                            </div>

                             @* Room status *@
                            <div class="mb-4">
                                <p>@Model.lblRoomStatus</p>

                                <div class="form-check">
                                    <input id="Open" class="form-check-input" type="radio" name="Status" value="Open"   @(Model.Status == "Open" ? "checked" : "")
                                       />
                                    <label class="form-check-label" for="Open">
                                        @Model.lblOpen
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input id="Closed" class="form-check-input" type="radio" name="Status" value="Closed"  @(Model.Status == "Closed" ? "checked" : "")
                                        />
                                    <label class="form-check-label" for="Closed">
                                        @Model.lblClosed
                                    </label>
                                </div>
                            </div> 
                            
                            <div class="mb-4">


                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">

                                    <a href="ManageRooms"
                                       class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="@Model.lblUpdate"
                                           class="btn btn-sm btn-gray-800 align-items-center w-100"
                                           style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    @* <div style="text-align:center; color:maroon">@Model.ErrorMsg</div> *@

}