@page
@model LabMaterials.Pages.EditSupplierModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }
         
    </script>
}
@{
    <div class="py-4">

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-2 mb-0">
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/supplies.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/Supplies" class="text-decoration-none">@Model.lblSupplies</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/supplies.png" alt="Home" width="16" height="16" class="me-2" />
                            <a href="/ManageSupplier" class="text-decoration-none">@Model.lblSuppliers</a>
                        </li>
                        <li class="breadcrumb-item d-flex align-items-center">
                            <img src="images/supplies.png" alt="Home" width="16" height="16" class="me-2" />
                            @Model.lblUpdateSupplier
                        </li>
                    </ol>
                </nav>
                <h1 class="h4">@Model.lblUpdateSupplier</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mb-4 m-auto">
            <div class="card border-0 shadow components-section">
                <form method="post" class="card-body">
                    <div class="row mb-4">


                        <div class="col-lg-12 col-sm-12">
                            <input type="hidden" name="SupplierId" value="@Model.SupplierId" />
                            <div class="mb-4">
                                <label for="SupplierName">@Model.lblSupplierName</label>
                                <input type="text" class="form-control" id="SupplierName" name="SupplierName"
                                    value="@Model.SupplierName" />

                            </div>

                            <div class="mb-4">
                                <label for="SupplierName">@Model.lblSupplierPhoneNumber</label>
                                <input type="text" class="form-control" id="SupplierPhoneNumber" name="SupplierPhoneNumber"
                                       value="@Model.SupplierPhoneNumber" />

                            </div>

                            <div class="mb-4">

                                <label>@Model.lblSupplierType</label>
                                    <select class="form-select" asp-for="SupplierType">
                                    <option value="Internal" >Internal</option>
                                    <option value="External" >External</option>
                                </select>
                            </div>

                            <div class="mb-4">

                                <div class="d-flex mb-2 mb-md-0" style="gap: 10px">
                                    <a href="ManageSupplier"
                                        class="btn btn-outline-gray-600  align-items-center w-100">@Model.lblCancel</a>

                                    <input type="submit" value="Update"
                                        class="btn btn-sm btn-gray-800 align-items-center w-100"
                                        style="text-align:center;" />

                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

}
