@page
@model LabMaterials.Pages.HomeModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
        position: {
        x: 'center',
        y: 'top',
        },
        types: [
        {
        type: 'error',
        background: '#e3392c',
        icon: {
        className: 'fas fa-times',
        tagName: 'span',
        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
        }
        ]
        });
        function checkDates() {

        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        if (startDate && endDate) {
        document.getElementById("dateForm").submit();
        }
        }
        function showErrorNotification(message) {
        notyf.open({
        type: 'error',
        message: message
        });
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMsg))
        {
            <text>
                var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.ErrorMsg));
                showErrorNotification(errorMessageFromServer);
            </text>
        }
        // Function to create pie chart
        // Function to create pie chart
        // Function to create pie chart
        function createPieChart(canvasId, data, labels, backgroundColor) {
        var ctx = document.getElementById(canvasId).getContext('2d');
        var chart = new Chart(ctx, {
        type: 'pie',
        data: {
        datasets: [{
        data: data,
        backgroundColor: backgroundColor,
        labels: labels
        }]
        },
        options: {
        plugins: {
        legend: {
        display: false
        },
        tooltip: {
        enabled: true,
        callbacks: {
        label: function (context) {
        var label = context.dataset.labels[context.dataIndex] || '';
        var value = context.formattedValue;
        return label + ': ' + value;
        }
        }
        }
        },
        hover: {
        mode: 'nearest',
        intersect: true
        }
        }
        });
        return chart;
        }
        //line chart
        //line chart
        //line chart
        //line chart
        @{
            // Assuming you have dynamic data from the model
            var supplies = Model.SuppliesData.Split(',');
            var disbursements = Model.DisbursementData.Split(',');
            var labels = Model.LineChartLabels.Split(',');

            var lblsupp = Model.lblSupplies;
            var lbldisb = Model.lblDisbursement;

            // Convert string arrays to integer arrays
            int[] suppliesData = (Model.SuppliesData == "" ? new int[] { } : supplies.Select(int.Parse).ToArray());
            int[] disbursementData = (Model.DisbursementData == "" ? new int[] { } : disbursements.Select(int.Parse).ToArray());
        }

                        // Get the canvas element
                        var ctx = document.getElementById('lineChart').getContext('2d');

        // Create the line chart data object dynamically
        var lineChartData = {
            labels: @Html.Raw(Json.Serialize(labels)),
            datasets: [
                {

                    data: @Html.Raw(Json.Serialize(suppliesData)),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 3,
                    label: @Html.Raw(Json.Serialize(lblsupp)),
                    fill: false
                },
                {

                    data: @Html.Raw(Json.Serialize(disbursementData)),
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderWidth: 3,
                    label: @Html.Raw(Json.Serialize(lbldisb)),
                    fill: false
                }
            ]
        };

        // Create the line chart
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: lineChartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: ''
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: ''
                        },
                        min: 0 // Set minimum value of y-axis to 0
                    }
                }
            }
        });





        // Data for Chart 1
        var data1 = [@{
            var valuesArray = Model.Data1Values.Split(',');
            foreach (var value in valuesArray)
            {
                <text>@value, </text>
            }
        }];
        var labels1 = [@{
            var labelArray3 = Model.LabelValues.Split(',');
            foreach (var label in labelArray3)
            {
                <text>"@label", </text>
            }
        }];
        var backgroundColor1 = [@{
            var colorsArray = Model.Data1Colors.Split(',');
            foreach (var color in colorsArray)
            {
                <text>"@color", </text>
            }
        }];

        var pieChart1 = createPieChart('pieChart1', data1, labels1, backgroundColor1);

        // Data for Chart 2
        var data2 = [@{
            var valuesArray1 = Model.Data2Values.Split(',');
            foreach (var value in valuesArray1)
            {
                <text>@value, </text>
            }
        }];
        var labels2 = [@{
            var labelArray2 = Model.LabelValues1.Split(',');
            foreach (var label in labelArray2)
            {
                <text>"@label", </text>
            }
        }];
        var backgroundColor2 = [@{
            var colorsArray1 = Model.Data2Colors.Split(',');
            foreach (var color in colorsArray1)
            {
                <text>"@color", </text>
            }
        }];

        var pieChart2 = createPieChart('pieChart2', data2, labels2, backgroundColor2);

        // Function to toggle label visibility





        // Get the context of the canvas elements
        var ctx1 = document.getElementById('pieChart1').getContext('2d');
        var ctx2 = document.getElementById('pieChart2').getContext('2d');

        // Create the initial pie charts
        var pieChart1 = new Chart(ctx1, {
            type: 'pie',
            data: data1
        });

        var pieChart2 = new Chart(ctx2, {
            type: 'pie',
            data: data2
        });



    </script>
}
@{

    // <div class="py-4">
    //     <div class="dropdown">
    //         <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown"
    //             aria-haspopup="true" aria-expanded="false">
    //             @Model.lblHome
    //         </button>
    //     </div>
    // </div>


    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent p-2 mb-0">
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                    @Model.lblHome
                </li>
            </ol>
        </nav>

        @if (Model.ItemCardminimum?.Count > 0)
        {
            <div class="alert alert-info d-flex justify-content-between align-items-center">
                <span><b>@Model.lblAlert </b> @Model.ItemCardminimum.Count @Model.lblMinimumQuantity</span>
                <a class="btn btn-primary" href="/Alerts/Index#section-minimum">View</a>
            </div>
        }


        @if (Model.ItemCardCeiling?.Count > 0)
        {
            <div class="alert alert-info d-flex justify-content-between align-items-center">
                <span>
                    <b>@Model.lblAlert </b>@Model.ItemCardCeiling.Count @Model.lblMaximumQuantity
                </span>
                <a class="btn btn-primary" href="/Alerts/Index#section-maximum">View</a>
            </div>
        }

        @if (Model.ItemCardReorder?.Count > 0)
        {
            <div class="alert alert-info d-flex justify-content-between align-items-center">
                <span><b>@Model.lblAlert </b>@Model.ItemCardReorder.Count @Model.lblReorderQuantity</span>
                <a class="btn btn-primary" href="/Alerts/Index#section-reorder">View</a>
            </div>
        }




        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-3 text-xl-center mb-3 mb-xl-0 d-flex align-items-start justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <img class="icon" src="images/store.png" />
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">@Model.lblTotalStores</h2>
                                <h3 class="fw-extrabold mb-1">@Model.countStores</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">@Model.lblTotalStores</h2>
                                <h3 class="fw-extrabold mb-2">@Model.countStores</h3>
                            </div>
                            @* <small class="d-flex align-items-center text-gray-500">
                        Feb 1 - Apr 1
                        </small> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-3 text-xl-center mb-3 mb-xl-0 d-flex align-items-start justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <img class="icon" src="images/users.png" />
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">@Model.lblTotalUsers</h2>
                                <h3 class="fw-extrabold mb-1">@Model.countUsers</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">@Model.lblTotalUsers</h2>
                                <h3 class="fw-extrabold mb-2">@Model.countUsers</h3>
                            </div>
                            @* <small class="d-flex align-items-center text-gray-500">
                        Feb 1 - Apr 1
                        </small> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-3 text-xl-center mb-3 mb-xl-0 d-flex align-items-start justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <img class="icon" src="images/list-items.png" />
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">@Model.lblTotalItems</h2>
                                <h3 class="fw-extrabold mb-1">@Model.countItems</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">@Model.lblTotalItems</h2>
                                <h3 class="fw-extrabold mb-2">@Model.countItems</h3>
                            </div>
                            @* <small class="d-flex align-items-center text-gray-500">
                        Feb 1 - Apr 1
                        </small> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-3 text-xl-center mb-3 mb-xl-0 d-flex align-items-start justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <img class="icon" src="images/des-supplies.png" />
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">@Model.lblSupplies</h2>
                                <h3 class="fw-extrabold mb-1">@Model.countSupplies</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">@Model.lblSupplies</h2>
                                <h3 class="fw-extrabold mb-2">@Model.countSupplies</h3>
                            </div>
                            @* <small class="d-flex align-items-center text-gray-500">
                        Feb 1 - Apr 1
                        </small> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-3 text-xl-center mb-3 mb-xl-0 d-flex align-items-start justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <img class="icon" src="images/Disbursement.png" />
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">@Model.lblDisbursement</h2>
                                <h3 class="fw-extrabold mb-1">@Model.countdisbursement</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">@Model.lblDisbursement</h2>
                                <h3 class="fw-extrabold mb-2">@Model.countdisbursement</h3>
                            </div>
                            @* <small class="d-flex align-items-center text-gray-500">
                        Feb 1 - Apr 1
                        </small> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 px-0 col-sm-6 col-xl-4 mb-4">

            <div class="card-body">
                <form id="dateForm" method="get">
                    <div class="row align-items-center">
                        <div class="col-6 mb-xl-0">
                            <div class="mb-2">
                                <label for="startDate" class="form-label">@Model.lblFromDate</label>
                                <input asp-for="FromDate" type="date" class="form-control form-control-sm" id="startDate" name="startDate" value="@Model.FromDate" onchange="checkDates()">
                            </div>
                        </div>
                        <div class="col-6  mb-xl-0">
                            <div class="mb-2">
                                <label for="endDate" class="form-label">@Model.lblToDate</label>
                                <input asp-for="ToDate" type="date" class="form-control form-control-sm" id="endDate" name="endDate" value="@Model.ToDate" onchange="checkDates()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-12  ">
            <div class="card border-0 shadow">
                <div class="card-header card-head d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block  mb-sm-0">
                        <h5 class="fw-extrabold">@Model.lblSuppliesAndDisbursements</h5>
                    </div>
                </div>
                <div class="card-body">

                    <!-- Canvas element for the chart -->
                    <canvas id="lineChart" style="height: 400px;"></canvas>


                </div>
            </div>
        </div>




        <div class="col-6 mt-3">
            <div class="card  pb-5 mb-5   border-0 shadow">

                <div class="card-header card-head d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h5 class=" fw-extrabold">@Model.lblItems</h5>

                    </div>

                </div>


                <div class="text-center mt-4">
                </div>
                <canvas id="pieChart2" class="pie-chart mt-2 p-3"></canvas>

            </div>
        </div>




        <div class="col-6  mt-3 ">
            <div class="card pb-5 border-0 shadow">

                <div class="card-header card-head d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h5 class=" fw-extrabold">@Model.lblDisbursement</h5>

                    </div>
                </div>

                <div class="text-center mt-4">
                </div>
                <canvas id="pieChart1" class="pie-chart mt-2 p-3"></canvas>

            </div>
        </div>











    </div>

    <!-- Index.cshtml -->





    <div class="row">
        <div class="col-4 mb-4">
            <div class="card  border-0 shadow dash-table">
                <div class="card-header card-head d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h5 class=" fw-extrabold">@Model.lblMostRequestingDestination</h5>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="border-0 rounded-start">@Model.lblDestinationName</th>
                                <th scope="col" class="border-0">@Model.lblCount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MostRequestingDestination != null)
                            {
                                foreach (var item in Model.MostRequestingDestination)
                                {
                                    <tr>
                                        <th scope="row">@item.DestinationName</th>
                                        <td>@item.Count</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>

        <div class="col-4 mb-4">
            <div class="card  border-0 shadow dash-table">
                <div class="card-header card-head d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h5 class=" fw-extrabold">@Model.lblFastMovingItem</h5>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="border-0 rounded-start">@Model.lblItemName</th>
                                <th scope="col" class="border-0">@Model.lblCount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FastMovingItem != null)
                            {
                                foreach (var item in Model.FastMovingItem)
                                {
                                    <tr>
                                        <th scope="row">@item.ItemCode</th>
                                        <td>@item.Count</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>


        <div class="col-4 mb-4">
            <div class="card  border-0 shadow dash-table">
                <div class="card-header card-head d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <h5 class=" fw-extrabold">@Model.lblLowInventoryItem</h5>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="border-0 rounded-start">@Model.lblItemName</th>
                                <th scope="col" class="border-0">@Model.lblCount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LowInventoryItem != null)
                            {
                                foreach (var item in Model.LowInventoryItem)
                                {
                                    <tr>
                                        <th scope="row">@item.ItemName</th>
                                        <td>@item.Count</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>


    </div>




    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

}
