@page
@model LabMaterials.Pages.ManageUsersModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.Message));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }
    </script>
}
@{
    
    

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-2 mb-0">
                    <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                        <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                        @Model.lblUsers
                    </li>
                </ol>
            </nav>
            <h2 class="h4">@Model.lblUsers</h2>
           <!-- <p class="mb-0">Your web analytics dashboard template.</p> -->
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group d-flex mx-3 ms-lg-3">
                        <a href="AddUser" class="btn btn-sm btn-gray-800 justify-content-center top-sm-btn d-inline-flex align-items-center">
                            <img b-ie9pk9zf1q="" class="icon text-white icon-xs mx-2" src="images/plus.png">  @Model.lblAddUser
                        </a>
                    </div>
            <a href="ManageUserGroups" class="btn justify-content-center top-bigg-btn btn-outline-gray-600 d-inline-flex align-items-center">
            <img b-ie9pk9zf1q="" class="icon text-white icon-xs mx-2" src="images/manage-b.png">
                @Model.lblManageUserGroups
            </a>

        </div>
    </div>
    <div class="table-settings mb-4">
        <form method="post" asp-page-handler="Search" class="row align-items-center">
            
            <div class="col col-md-3 col-lg-3 col-xl-3">
                <div class="input-group me-2 me-lg-3 fmxw-400">
                    <span class="input-group-text">
                        <svg class="icon icon-xs" x-description="Heroicon name: solid/search"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <input type="text" name="UserName" class="form-control" placeholder="@Model.lblUserName">
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1 ps-md-0 ">
                <button type="submit" class="btn btn-primary">@Model.lblSearch</button>
            </div>
        </form>
    </div>
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="border-0 rounded-start">@Model.lblUserName</th>
                            <th scope="col" class="border-0">@Model.lblFullName</th>
                            <th scope="col" class="border-0">@Model.lblEmail</th>
                            <th scope="col" class="border-0">@Model.lblUserEnabled</th>
                            <th scope="col" class="border-0">@Model.lblIsLocked</th>
                            <th scope="col" class="border-0">@Model.lblUserType</th>
                            <th scope="col" class="border-0">@Model.lblUserGroupName</th>
                            <th scope="col" class="border-0 rounded-end"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Users != null)
            {
                foreach (var item in Model.Users)
                {
                    <tr>
                        <th class="fw-bold" scope="row">@item.UserName</th>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.IsActive</td>
                        <td>@item.IsLocked</td>
                        <td>@item.IsADUser</td>
                        <td>@item.GroupName</td>
                        <td>
                            <form method="post">
                                <input type="hidden" value="@item.UserID" name="UserId" />
                                <input type="submit" value="@Model.lblEdit" class="btn btn-primary" asp-page-handler="Edit" />
                                @* <input type="submit" value="@Model.lblView" class="btn btn-primary" asp-page-handler="View" /> *@
                                <input type="submit" value="@item.EnableBtnText" class="btn btn-danger"
                                    asp-page-handler="Enable" />
                                <input type="submit" value="@Model.lblUnlock" class="btn text-white" style="background:gray;" asp-page-handler="Unlock" />
                            </form>
                        </td>
                    </tr>
                }
            }
                               
                                        
                                    
                           
                        <tr>
                            <td colspan="4">
                                <div>@Model.lblTotalItem : @Model.TotalItems</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    @* <div style="text-align:center; color:maroon">@Model.Message</div> *@


}
