@page
@model LabMaterials.Pages.ManageUnitsModel
@section Scripts
{
    <script type="text/javascript" language="javascript">
        const notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            types: [
                {
                    type: 'error',
                    background: '#e3392c',
                    icon: {
                        className: 'fas fa-times',
                        tagName: 'span',
                        color: '#000000'
                    },
                    dismissible: true,
                    duration: 0,
                    ripple: true
                }
            ]
        });

        function showErrorNotification(message) {
            notyf.open({
                type: 'error',
                message: message
            });
        }

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <text>
                    var errorMessageFromServer = @Html.Raw(Json.Serialize(Model.Message));
                    showErrorNotification(errorMessageFromServer);
            </text>
        }
    </script>
}
@{

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-2 mb-0">
                    <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                        <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/inventory.png" alt="Home" width="16" height="16" class="me-2" />
                        <a href="/ManageItems" class="text-decoration-none">@Model.lblItems</a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/inventory.png" alt="Home" width="16" height="16" class="me-2" />
                        @Model.lblUnits
                    </li>
                    
                </ol>
            </nav>
            <h2 class="h4">@Model.lblUnits</h2>
            <!-- <p class="mb-0">Your web analytics dashboard template.</p>-->
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-lg-3">
                <a href="AddUnit" class="btn btn-sm btn-gray-800 justify-content-center top-sm-btn d-inline-flex align-items-center">

                <img b-ie9pk9zf1q="" class="icon text-white icon-xs mx-2" src="images/plus.png">
                    @Model.lblAddUnit
                </a>
            </div>
        </div>
    </div>
    <div class="table-settings mb-4">
        <form method="post" asp-page-handler="Search" class="row align-items-center">
            <div class="col col-md-6 col-lg-3 col-xl-4">
                <div class="input-group me-2 me-lg-3 fmxw-400">
                    <span class="input-group-text">
                        <svg class="icon icon-xs" x-description="Heroicon name: solid/search"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <input type="text" name="UnitDesc" class="form-control" placeholder="@Model.lblUnitDescription">
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="border-0 rounded-start">@Model.lblUnitCode</th>
                            <th scope="col" class="border-0">@Model.lblUnitDescription</th>
                            <th scope="col" class="border-0">@Model.lblGroupName</th>
                            <th scope="col" class="border-0 rounded-end"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Units != null)
                        {
                            foreach (var item in Model.Units)
                            {
                                <tr>
                                    <th scope="row">@item.UnitCode</th>
                                    <td>@item.UnitDescription</td>
                                    <td>@item.GroupName</td>
                                    <td>
                                        <form method="post">
                                            <input type="hidden" value="@item.ID" name="ID" />
                                            <input type="submit" value="@Model.lblEdit" class="btn btn-secondary"
                                                asp-page-handler="Edit" />
                                            <input type="submit" value="@Model.lblDelete" class="btn btn-danger"
                                                asp-page-handler="Delete" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        }

                        <tr>
                            <td class="border-0" colspan="8">
                                <div>@Model.lblTotalItem : @Model.TotalItems</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @* <div style="text-align:center; color:maroon">@Model.Message</div> *@

    @* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelDlg">
Launch demo modal
</button> *@

    <script type="text/javascript">

            window.setTimeout(function () { $('#modelDlg').modal(); }, 1000);

        function setDialogData(str) {
            var html = "<ul>";
            var parts = str.split(',');
            for (var i = 0; i < parts.length; i++)
                html += "<li>" + parts[i] + "</li>";
            document.getElementById('shelvesList').innerHTML = html;
            $('#modelDlg').modal('show');
        }

    </script>

}
