@page
@model LabMaterials.Pages.Rep_HazardMaterialModel
@{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-2 mb-0">
            <li class="breadcrumb-item d-flex align-items-center">
                        <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                        <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                    </li>
            <li class="breadcrumb-item d-flex align-items-center">
                <img src="images/pen.png" alt="Home" width="16" height="16" class="me-2" />
                <a href="/Rep_MaterialsReceived" class="text-decoration-none">@Model.lblReports</a>
            </li>
            <li class="breadcrumb-item d-flex align-items-center">
                <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                @Model.lblHazardousMaterials
            </li>
        </ol>
    </nav> 
    <div class="py-4 border-bottom">
        <div class="d-block mb-4 mb-md-0">

            <h2 class="h4">@Model.lblReports</h2>
            <!-- <p class="mb-0">Your web analytics dashboard template.</p>-->
        </div>
        <div class="d-flex  flex-direcion-column flex-wrap flex-md-nowrap align-items-center btn-toolbar mb-2 mb-md-0">
             <a href="Rep_MaterialsReceived"
                class="btn btn-outline-gray-600 d-inline-flex align-items-center  report mx-2">@Model.lblMaterialsReceived</a>

            <a href="Rep_Distribution" class="btn btn-outline-gray-600 d-inline-flex align-items-center  report mx-2"
                 >@Model.lblDistributedMaterials</a>
            <a href="Rep_Inventory" class="btn btn-outline-gray-600 d-inline-flex align-items-center  report mx-2"
                 >@Model.lblInventory</a>
            <a href="Rep_HazardMaterial" class="btn btn-gray-600 d-inline-flex align-items-center  report mx-2"
                 >@Model.lblHazardousMaterials</a>
            <a href="Rep_DamagedItems" class="btn btn-outline-gray-600 d-inline-flex  align-items-center report mx-2">@Model.lblDamagedItems</a>
            @if (Model.CanManageUsers)
            {
                <a href="Rep_UserActivity"
                   class="btn btn-gray-600 d-inline-flex  align-items-center report mx-2">@Model.lblUserActivity</a>



                <a href="Rep_UserReport"
                   class="btn btn-outline-gray-600 d-inline-flex  align-items-center report mx-2">@Model.lblUserReport</a>
            }

        </div>
    </div>
    <div class="table-settings mt-4 mb-4">
        <form method="post" asp-page-handler="Search" class="row align-items-center">
            <div class="col col-lg-3">
                <div class="input-group me-2 me-lg-3 fmxw-400">
                    <span class="input-group-text">
                        <svg class="icon icon-xs" x-description="Heroicon name: solid/search"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <input type="text" name="ItemName" class="form-control" placeholder="@Model.lblItemName" value="@Model.ItemName">
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="input-group me-2 me-lg-3 fmxw-400">
                    
                    <select class="form-select" name="HazardTypeName" style="width:250px">
                        <option value="">@Model.lblSelectHazardType</option>
            @if (Model.HazardTypes != null)
            {
                foreach (var item in Model.HazardTypes)
                {
                    <option value="@item.HazardTypeName" selected="@Model.HazardTypeName">@item.HazardTypeName</option>
                }
            }
        </select>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-end">
                <button type="submit" class="btn btn-primary">@Model.lblSearch</button>
            </div>
        </form>
    </div>

    <h5>@Model.lblHazardousMaterials</h5>
    
    <div>@Model.lblTotalItem : @Model.TotalItems</div>
<div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                          
                                <th scope="col" class="border-0 rounded-start">@Model.lblItemCode</th>
                <th scope="col" class="border-0">@Model.lblItemName</th>
                <th scope="col" class="border-0">@Model.lblStoreName</th>
                <th scope="col" class="border-0">@Model.lblAvailableQuantity</th>
                <th scope="col" class="border-0">@Model.lblHazardType</th>
                <th scope="col" class="border-0">@Model.lblTypeName</th>
                <th scope="col" class="border-0">@Model.lblUnitCode</th>
                <th scope="col" class="border-0 rounded-end">@Model.lblGroupName</th>
                        </tr>
                    </thead>
                    <tbody>
                         @if (Model.Items != null)
            {
                foreach (var item in Model.Items)
                {
                    <tr>
                        <th scope="row">@item.ItemCode</th>
                        <td>@item.ItemName</td>
                        <td>@item.StoreName</td>
                        <td>@item.AvailableQuantity</td>
                        <td style='color: @(item.IsHazardous?"red":"teal")'>@item.HazardTypeName</td>
                        <td>@item.TypeName</td>
                        <td>@item.UnitCode</td>
                        <td>@item.GroupDesc</td>
                    </tr>
                }
            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   @if (Model.TotalPages > 1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">

                @* Previous button *@
                @if (Model.CurrentPage > 1)
                {
                   
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.CurrentPage - 1)&ItemName=@Model.ItemName&HazardTypeName=@Model.HazardTypeName">&laquo;</a>
                    </li>
                }

                @* Show pages normally if the total pages are less than or equal to 10 *@
                @if (Model.TotalPages <= 10)
                {
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i&ItemName=@Model.ItemName&HazardTypeName=@Model.HazardTypeName">@i</a>
                        </li>
                    }
                }
                else
                {
                    @* Show the first page, then ellipsis if there are skipped pages *@
                    @if (Model.CurrentPage > 3)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1&ItemName=@Model.ItemName&HazardTypeName=@Model.HazardTypeName">1</a>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }

                    @* Show pages from (current-1) to (current+1) *@
                    @for (int i = Math.Max(1, Model.CurrentPage - 1); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 1); i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i&ItemName=@Model.ItemName&HazardTypeName=@Model.HazardTypeName">@i</a>
                        </li>
                    }

                    @* Add "..." if there are skipped pages after the current page *@
                    @if (Model.CurrentPage < Model.TotalPages - 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }

                    @* Show the last page, if it's not already visible *@
                    @if (Model.CurrentPage < Model.TotalPages - 2)
                    {   
                        <li class="page-item">
                            <a class="page-link" href="?page=@Model.TotalPages&ItemName=@Model.ItemName&HazardTypeName=@Model.HazardTypeName">@Model.TotalPages</a>
                        </li>
                    }
                }

                @* Last buttons *@
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.CurrentPage + 1)&ItemName=@Model.ItemName&HazardTypeName=@Model.HazardTypeName">&raquo;</a>
                    </li>
                   
                }

            </ul>
        </nav>
    }
}
