@page
@model LabMaterials.Pages.ViewDispensedReportModel
@{
    ViewData["Title"] = "View Material Dispensing";
}

<style>
    .nested-table td th {
        border: none;
    }
</style>


<div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-2 mb-0">
            <li class="breadcrumb-item d-flex align-items-center">
                <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
            </li>
            <li class="breadcrumb-item d-flex align-items-center">
                <img src="images/inventory.png" alt="Home" width="16" height="16" class="me-2" />

                <a href="/Requests" class="text-decoration-none">@Model.lblRequests</a>
            </li>
            <li class="breadcrumb-item d-flex align-items-center">
                <img src="images/inventory.png" alt="Home" width="16" height="16" class="me-2" />
                @ViewData["Title"]
            </li>

        </ol>
    </nav>

    <h1 class="h4">@ViewData["Title"]</h1>
</div>


<div>
    @if (Model.MaterialRequest != null)
    {
        var MaterialRequest = Model.MaterialRequest;
        var StoreName = Model.Stores.FirstOrDefault(i => i.StoreId == MaterialRequest.WarehouseId)?.StoreName ?? "";
        <div class="card mb-4 border shadow-sm">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <strong>@Model.lblMaterialDispensing - Serial No: @MaterialRequest.SerialNumber</strong>
                <div>
                    @* <a asp-page="/EditReceivingReport" asp-route-id="@report.Id" class="btn btn-sm btn-success me-2 text-white">Edit</a> *@
                    @* <a asp-page="/PrintReceivingReport" asp-route-id="@report.Id" class="btn btn-sm btn-secondary">Print</a> *@
                    
                    <div class="d-flex">
                        <form method="post" class="me-2">
                            <input type="hidden" value="@MaterialRequest.SerialNumber" name="serialNumber" />
                            <input type="hidden" value="@MaterialRequest.RequestId" name="ReceivingReportId" />
                            <input type="submit" value="Edit" class="btn btn-secondary" asp-page-handler="Edit" />
                        </form>
                        <button id="PrintReport" class="btn btn-primary">@Model.lblPrint</button>
                    </div>


                </div>
            </div>
            <div class="card-body">
                @* <div>
                    <p>Approval Status</p>
                    <p>Technical Member: @report.TechnicalMemberApproval</p>
                    @if(Model.GeneralSupervisor != null){
                        <p>General Supervisor: @report.TechnicalMemberApproval</p>

                    }
                    
                </div> *@

                <dl class="row">
                    <dt class="col-sm-3">@Model.lblFiscalYear</dt>
                    <dd class="col-sm-3">@MaterialRequest.FiscalYear</dd>

                    <dt class="col-sm-3">Request Date</dt>
                    <dd class="col-sm-3">@MaterialRequest.CreatedAt?.ToString("yyyy-MM-dd")</dd>

                    <dt class="col-sm-3">@Model.lblRequestingSector</dt>
                    <dd class="col-sm-3">@Model.RequestingSector</dd>

                    <dt class="col-sm-3">@Model.lblSector</dt>
                    <dd class="col-sm-3">@MaterialRequest.Sector</dd>
                    
                    <dt class="col-sm-3">Receiving Warehouse</dt>
                    <dd class="col-sm-3">@StoreName</dd>

                    <dt class="col-sm-3">@Model.lblRequestDocumentType</dt>
                    <dd class="col-sm-3">@MaterialRequest.RequestDocumentType</dd>

                    <dt class="col-sm-3">@Model.lblRequestDocumentNumber</dt>
                    <dd class="col-sm-3">@MaterialRequest.DocumentNumber</dd>

                    <dt class="col-sm-3">Order Date</dt>
                    <dd class="col-sm-3">@MaterialRequest.OrderDate.ToString("yyyy-MM-dd")</dd>

                    <dt class="col-sm-3">Dept. Manager</dt>
                    <dd class="col-sm-3">@Model.DeptManager</dd>

                    <dt class="col-sm-3">Keeper</dt>
                    <dd class="col-sm-3">@Model.Keeper</dd>

                    @* <dt class="col-sm-3">Technical Member</dt>
                    <dd class="col-sm-3">TechnicalMember</dd> *@

                    <dt class="col-sm-3">General Supervisor</dt>
                        @if(Model.GeneralSupervisor != null){
                            <dd class="col-sm-3">@Model.GeneralSupervisor</dd>
                        }
                        else
                        { <dd class="col-sm-3">  none</dd>
                        }

                </dl>


                <table class="table table-bordered table-striped" >
                    <thead>
                        <tr>
                            <th>Comments</th>
                            <th>Item Name</th>
                            <th>Item Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody id="itemsTableBody">
                        @foreach (var item in Model.DispensedItems)
                        {
                            var ItemName = Model.ItemCards.FirstOrDefault(i => i.Id == item.ItemCardId)?.ItemName ?? "";
                            <tr>
                                <td>@item.Comments</td>
                                <td>@ItemName</td>
                                <td>@item.Quantity</td>
                                <td>@item.UnitPrice</td>
                                <td>@(item.Quantity * item.UnitPrice)</td>
                            </tr>
                        }
                   
                    </tbody>
                </table>

            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info text-center">No Material Dispensing report available.</div>
    }
</div>

<div id="printArea" style="display: none;">
    <table class="table-format border"" align="center"  id="printArea" style="width: 826px;"  dir="@Model.dir">
        <tr>
            <td colspan="10">
                <div align="center" style=" margin-top: 20px; margin-bottom: 40px; font-weight: bold;">
                  Material Dispensing
                </div>
                @{
                    var rep = Model.MaterialRequest;
                    var WarehouseName = Model.Stores.FirstOrDefault(i => i.StoreId == rep.WarehouseId)?.StoreName ?? "";
                }
                <table class="nested-table" border="0" width="100%">
                    <tr >
                       <td style="width: 15%;border: none; font-size: 14px;white-space: nowrap;" >Name of Requesting Sector</td>
                        <td style="width: 15%;border: none; font-size: 14px;">@Model.RequestingSector</td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;" align="center"></td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;" align="right">@Model.lblSerialNo</td>
                        <td style="width: 15%;border: none;font-size: 14px;">@rep.SerialNumber</td>
                        
                    </tr>
                    <tr>
                       <td style="width: 15%;border: none;font-size: 14px;">@Model.lblSector</td>
                        <td style="width: 15%;border: none;font-size: 14px;">@rep.Sector</td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"  align="right">PageCount</td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        
                    </tr>
                    <tr>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;" >Warehouse</td>
                        <td style="width: 15%;border: none;font-size: 14px;">@WarehouseName</td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;" align="right">OrderDate</td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;"> @rep.CreatedAt?.ToString("yyyy-MM-dd")</td>
                        
                    </tr>
                    <tr>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap" align="center"></td>
                        <td style="width: 15%;border: none;font-size: 14px;;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;" align="center"></td>
                        <td style="width: 15%;border: none;font-size: 14px;"></td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;">@Model.lblFiscalYear</td>
                        <td style="width: 15%;border: none;font-size: 14px;white-space: nowrap;">@rep.FiscalYear</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th style="width: 5%;font-size: 14px;" rowspan="2">Count</th>
            <th style="width: 5%;font-size: 14px;" rowspan="2">ItemNo</th>
            <th style="width: 20%;font-size: 14px;" rowspan="2">ItemName</th>
            <th style="width: 3%;font-size: 14px;" rowspan="2">UnitOfMeasure</th>
            <th style="width: 3%;font-size: 14px;" rowspan="2">Quantity</th>
            <th style="width: 7%;font-size: 14px;" colspan="2">UnitPrice</th>
            <th style="width: 7%;font-size: 14px;" colspan="2">TotalPrice</th>
            <th style="width: 25%;font-size: 14px;" rowspan="2">Comments</th>
        </tr>
        <tr>
            <td style="width: 3.5%;font-size: 14px; text-align: center;"></td>
            <td style="width: 3.5%;font-size: 14px; text-align: center;">SAR</td>
            <td style="width: 3.5%;font-size: 14px; text-align: center;"></td>
            <td style="width: 3.5%;font-size: 14px; text-align: center;">SAR</td>
        </tr>
        @if (Model.DispensedItems != null){
            var count = 1;
            @foreach (var item in Model.DispensedItems) {
                var ItemCard = Model.ItemCards.FirstOrDefault(i => i.Id == item.ItemCardId);
                <tr>
                    <td style="font-size: 14px;">@count.</td>
                    <td style="font-size: 14px;">@ItemCard.ItemCode</td>
                    <td style="font-size: 14px;">@ItemCard.ItemName</td>
                    <td style="font-size: 14px;">@ItemCard.UnitOfmeasure</td>
                    <td style="font-size: 14px;">@item.Quantity</td>
                    <td style="font-size: 14px;"></td>
                    <td style="font-size: 14px;">@item.UnitPrice</td>
                    <td style="font-size: 14px;">&nbsp;</td>
                    <td style="font-size: 14px;">@item.TotalPrice</td>
                    <td style="font-size: 14px;">@item.Comments</td>

                </tr>
                count++;
            }
        }
        <tr>
            <td style="font-size: 14px;">&nbsp;</td>
            <td style="font-size: 14px;">&nbsp;</td>
            <td style="font-size: 14px;">&nbsp;</td>
            <td colspan="7" >TotalPrice</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;font-size: 14px;"><b>Warehouse Manager</b></td>
            <td colspan="1" style="text-align: center;font-size: 14px;"><b>Dept. Manager</b></td>
            <td colspan="3.5" style="text-align: center;font-size: 14px;"><b>Warehouse Keeper</b></td>
            <td colspan="3" style="text-align: center;font-size: 14px;"><b>Supervisor</b></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2" style="text-align: center;font-size: 14px;">@rep.CreatedAt</td>
            <td colspan="1">@rep.DeptManagerApprovalDate</td>
            <td colspan="3.5">@rep.KeeperApprovalDate</td>
            <td colspan="3">@rep.SupervisorApprovalDate</td>
            <td style=" text-align: center;font-size: 14px;">Name<br>Signature<br>Date</td>
        </tr>
    </table>
</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const printReportBtn = document.getElementById('PrintReport');
            if (printReportBtn) {
                printReportBtn.addEventListener('click', function () {
                    console.log("PrintReport button clicked");

                    const printContentElement = document.getElementById('printArea');
                    if (!printContentElement) {
                        console.error("printArea not found");
                        return;
                    }

                    const printContent = printContentElement.innerHTML;
                    const printWindow = window.open('', '', 'width=800,height=600');
                    printWindow.document.write('<html><head><title>Receiving Report</title>');
                    printWindow.document.write('<style>body{font-family: Arial;} table{width:100%;border-collapse:collapse;} th, td{border:1px solid #ddd;padding:8px;} th{background:#f2f2f2;} .text-center{text-align:center;}</style>');
                    printWindow.document.write('</head><body>');
                    @* printWindow.document.write('<h1>Receiving Report - Serial No: 15</h1>'); *@
                        printWindow.document.write(printContent);
                    printWindow.document.write('</body></html>');
                    printWindow.document.close();
                    printWindow.focus();
                    printWindow.print();
                });
            } else {
                console.warn("PrintReport button not found");
            }
        });

    </script>
}