@page
@model LabMaterials.Pages_HazardTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>@Model.lblDelete</h1>

<h3>@Model.lblAreYouSure</h3>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h4>@Model.lblHazardType</h4>
                    <hr />
                    <dl class="row">
                    </dl>

                    <form method="post">
                        <input readonly asp-for="HazardType.HazardTypeName" />
                        <input type="submit" value="@Model.lblDelete" class="btn btn-danger" /> |
                        <a asp-page="./Index" class="btn btn-secondary">@Model.lblBack</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
