@page
@model LabMaterials.Pages_HazardTypes.IndexModel

@{
    ViewData["Title"] = "Hazard Types";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 pb-2">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent p-2 mb-0">
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/home.png" alt="Home" width="16" height="16" class="me-2" />
                    <a href="/Home" class="text-decoration-none">@Model.lblHome</a>
                </li>
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                    <a href="/ManageUsers" class="text-decoration-none">@Model.lblUsers</a>
                </li>
                <li class="breadcrumb-item d-flex align-items-center">
                    <img src="images/management.png" alt="Home" width="16" height="16" class="me-2" />
                     @Model.lblHazardType
                </li>
            </ol>
        </nav>
        <h2 class="h4"> @Model.lblHazardType</h2>
        
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 d-flex flex-wrap">
        <div class="btn-group d-flex mx-3 ms-lg-3">
            <a asp-page="Create" class="btn btn-primary">+ Add Hazard Type</a>
        </div>
    </div>
</div>


<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>@Model.lblHazardTypeName</th>
                        <th>@Model.lblAction</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.HazardType)
                    {
                        <tr>
                            <td>@item.HazardTypeName</td>
                            <td>
                                <div class="btn-toolbar mb-2 mb-md-0 d-flex flex-wrap">
                                    <div class="btn-group d-flex mx-3 ms-lg-3">
                                        <a asp-page="./Edit" asp-route-id="@item.HazardTypeName" class="btn btn-primary">Edit</a>
                                    </div>
                                    <div class="btn-group d-flex mx-3 ms-lg-3">
                                        <a asp-page="./Details" asp-route-id="@item.HazardTypeName" class="btn btn-secondary">Details</a>
                                    </div>
                                    <div class="btn-group d-flex mx-3 ms-lg-3">
                                        <a asp-page="./Delete" asp-route-id="@item.HazardTypeName" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
